@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', 'Noti Sans TC', 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #eeee;
}

#Linslide {
    img {
    filter: grayscale(30%) sepia(40%);
    }
}